.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 8px;
  border: solid 1px black;
  padding: 8px;
}

.item {
  border: solid 1px black;
  aspect-ratio: 1 / 1;
}

.unnecessary {
  background-color: #EBD6D6;
}
