.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.label {
  display: inline-block;
  width: 100%;
}

.fire {
  color: var(--fire);
}

.water {
  color: var(--water);
}

.earth {
  color: var(--earth);
}

.wind {
  color: var(--wind);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}
